.button,
.button-outer,
.button-inner {
  display: inline;
}

.btn-holder {
  .button-outer {
    padding: .7px;

    button {
      padding: 8px 14px;
      margin: 2px;
      justify-content: center;
      border-radius: 100%;
      border: 8px solid #E5E5E5;
      background-color: #DDDDDD;
      color: #A5A5A5;
      cursor: pointer;
      outline: none;
      font-size: 1.5em;
      transition: all .8s;
      -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
      -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
      box-shadow: inset 0 0 10px rgba(0,0,0,0.1);

      &:hover {
        background-color: #C7C7C7;
        color: #A5A5A5;
        border: 8px solid #D8D8D8;
      }

      &:focus {
        background-color: #DDDDDD;
        color: #D5C35F;
        border: 8px solid #D5C35F;
        -moz-box-shadow: inset 0 0 10px #D5C35F;
        -webkit-box-shadow: inset 0 0 10px #D5C35F;
        box-shadow: inset 0 0 10px #D5C35F;
      }

      &:focus-within {
        background-color: #DDDDDD;
        color: #D5C35F;
        border: 8px solid #D5C35F;
        -moz-box-shadow: inset 0 0 10px #D5C35F;
        -webkit-box-shadow: inset 0 0 10px #D5C35F;
        box-shadow: inset 0 0 10px #D5C35F;
      }

      &:active {
        background-color: #DDDDDD;
        color: #D5C35F;
        border: 8px solid #D5C35F;
        -moz-box-shadow: inset 0 0 10px #D5C35F;
        -webkit-box-shadow: inset 0 0 10px #D5C35F;
        box-shadow: inset 0 0 10px #D5C35F;
      }
    }
  }

  .button:last-child {

    button {
      padding: 8px 6px;
    }
  }
}

.btn-holder2 {
  .button-outer {
    padding: .7px;

    button {
      height: 25px;
      width: 15px;
      cursor: pointer;
      outline: none;
      font-size: 1.5em;
      transition: all .8s;
      background-image: url("../assets/svg/floorButton.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-color: transparent;
      border: none;
      margin: 28px;

      &:hover {

      }

      &:focus {

      }
    }
  }
}

