.container-outer{
  margin: 0;
  padding: 0;

  .container-main{
    height: 30px;
    padding: 20px !important;
    background-color: #2F2F2F;
    margin: 10px 0 0 0;
    position: relative;
  }

  .container-main:before {
    content: '';
    height: 10px;
    bottom: -10px;
    left: -10px;
    background-color: #fff;
    position: absolute;
    width: 100px;
    z-index: 999;
  }
}
