.App {
  margin: 20px;
  height: 100%;

  .btns-container {
    display: flex;
    align-items: stretch;

    .btn-holder{
      width: 30%;
      display: flex;
      height: 50%;
      margin: auto 0 auto 30px;

      .btn-holder-inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 44%;
        padding: 40px;
        background-color: #f2f2f2;
        border-radius: 3px;
        -moz-box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
        box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
      }
    }

    .btn-holder2{
      width: 60px;
      display: flex;

      .btn-holder-inner {

      }
    }

    .ctn-holder{
      display: inline-block;
    }
  }
}



