.hallway-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.person{
  background-color: grey;
  background-image: url("../assets/svg/elevator.svg");
  position: relative;
  padding: 10px !important;
  height: 40px;
  margin: 20px 10px 0 10px;
  // transition for the smooth moving of the elevator
  transition: all 8s;
  color: #fff;
  text-align: center;
  width: 40px;
}

.hallway {
  position: absolute;
  left: 80px;
  height: 70px;
  width: 600px;
  opacity: 0;
  // delay of the hallways
  transition-delay: 8s;
  background-image: url("../assets/svg/hallway_bg.svg");
}
